app/node/claude-code/claude.env
app/node/claude-code/.claude/.claude.json
app/node/claude-code/.claude/.credentials.json
app/node/copilot/.copilot/config.json
app/node/gemini-cli/gemini_api_key.env
app/node/opencode/workspace/*
!app/node/opencode/workspace/.gitkeep
app/rust/claw-code/claw-code.env
app/rust/claw-code/workspace/*
!app/rust/claw-code/workspace/.gitkeep
certs/certificate.pem
